################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TesteSquadra/obj
/.vs/TesteSquadra
/TesteSquadra/bin/Debug/netcoreapp2.1
/TesteSquadra/bin/release/netcoreapp2.1
