

<p *ngIf="!(sistemas$ | async)"><em>Carregando...</em></p>

<div class="">
  <div class="p-3 mb-2 bg-secondary text-white"><h5>Pesquisar Sistema</h5></div>
  <div class="border p-3">
    <div class="form-group">
      <label for="descricao">Descricao</label>
      <input type="text" class="form-control" id="descricao" aria-describedby="emailHelp" placeholder="Descrição">
    </div>
    <div class="form-group">
      <label for="sigla">Sigla</label>
      <input type="text" class="form-control" id="sigla" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Descrição">
    </div>


    <div class="text-right">
      <a [routerLink]="['/add']" class="btn m-1 btn-primary ">Pesquisar</a>
      <a [routerLink]="['/add']" class="btn btn-primary  ">Limpar</a>
      <a [routerLink]="['/add']" class="btn btn-success m-1 ">Novo Sistema</a>
    </div>
  </div>
</div>
<table class="table table-sm table-hover" *ngIf="(sistemas$ | async)?.length>0">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Sigla</th>
      <th>E-mail de atendimento </th>
      <th>URL</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sistema of (sistemas$ | async | paginate: { itemsPerPage: count, currentPage: p })">
      <td>{{ sistema.descricao }}</td>
      <td>{{ sistema.sigla }}</td>
      <td>{{ sistema.email }}</td>
      <!--<td>{{ sistema.dt | date: "dd.MM.y" }}</td>-->
      <td>{{ sistema.url }}</td>
      <td>{{ sistema.status }}</td>

      <td>
        <a [routerLink]="['/sistema/edit/', sistema.id]" class="btn btn-primary btn-sm float-right">Edit</a>
        <a [routerLink]="" (click)="delete(sistema.id)" class="btn btn-danger btn-sm float-right">Delete</a>
      </td>
    </tr>
  </tbody>
  <!--inclindo o controle de paginação.-->
  <div class="text-right">

    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>

</table>
