



<div class="">
  <div class="p-3 mb-2 bg-secondary text-white"><h5>Pesquisar Sistema</h5></div>
  <div class="border p-3">
    <form [formGroup]="pesquisaForm" #formDir="ngForm" novalidate (ngSubmit)="onPesquisaFormSubmit()">

      <div class="form-group row">
        <label class="control-label col-md-12" for="Body">Descrição</label>
        <div class="col-md-12">
          <input class="form-control" type="text" formControlName="Descricao">
        </div>
      </div>
      <div class="form-group row">
        <label class=" control-label col-md-12">Sigla</label>
        <div class="col-md-12">
          <input class="form-control" type="text" formControlName="Sigla">
        </div>

      </div>
      <div class="form-group row">
        <label class=" control-label col-md-12">E-mail de atendimento do sistema</label>
        <div class="col-md-12">
          <input class="form-control" type="text" formControlName="Email">
        </div>
        <span class="text-danger ml-3" *ngIf="email.invalid && formDir.submitted">
          preencha um e-mail válido.
        </span>
      </div>


      <div class="text-right">
        <button type="submit" class="btn btn-primary m-1">Pesquisar <i class="fa fa-search"></i></button>
        <a (click)="resetForm()" class="btn btn-primary text-white  ">Limpar <i class="fa fa-redo"></i></a>
        <a [routerLink]="['/add']" class="btn btn-success m-1 ">Novo Sistema <i class="fa fa-plus-square"></i></a>
      </div>
    </form>
  </div>
</div>
<!--<p *ngIf="!(sistemas$ | async)"><em>Carregando...</em></p>-->
<div class="mt-4" *ngIf="(sistemas$ | async)?.length>0">
  <h5>Resultado da Consulta</h5>
  <table class="table table-dark table-hover" *ngIf="(sistemas$ | async)?.length>0">
    <thead>
      <tr>
        <th>Descricao</th>
        <th>Sigla</th>
        <th>E-mail de atendimento </th>
        <th>URL</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sistema of (sistemas$ | async | paginate: { itemsPerPage: count, currentPage: p })">
        <td>{{ sistema.descricao }}</td>
        <td>{{ sistema.sigla }}</td>
        <td>{{ sistema.email }}</td>

        <td>{{ sistema.url }}</td>
        <td>{{ sistema.status }}</td>

        <td>
          <a [routerLink]="['/sistema/edit/', sistema.id]" class="btn btn-primary btn-sm ">Edit</a>
          <a [routerLink]="" (click)="delete(sistema.id)" class="btn btn-danger btn-sm ">Delete</a>
        </td>
      </tr>
    </tbody>

  </table>

  <!--inclindo o controle de paginação.-->
  <div class="text-right">

    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
<div class="p-10" *ngIf="(!sistemas$ || (sistemas$ | async)?.length === 0) && buscando">
  <h4>Nenhum Sistema foi encontrado. Favor revisar os critérios da sua pesquisa!</h4>
  <p> <a (click)="resetForm()" class="btn btn-primary text-white  ">Limpar <i class="fa fa-redo"></i></a></p>
</div>

